/*calendar map events*/
* { -webkit-box-sizing: border-box; }
body { background: rgb(88,20,94); }

.month-table {
  margin: 0 auto 100px;
  width: 75%;
  padding: 5px;
  background-color: #992216;
  position: relative;
}

.month-table:before, .month-table:after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
  display: block;
}

.month-table:before {
  border-top-color: rgb(88,20,94);
  border-right-color: rgb(88,20,94);
  top: 0;
  right: 0;
}

.month-table:after {
  border-left-color: rgb(88,20,94);
  border-bottom-color: rgb(88,20,94);
  bottom: 0;
  left: 0;
}

.month-table td {
  width: 160px;
  vertical-align: top;
}

.header td {
  padding: 10px;
  border-bottom: 1px solid #ff6454;
}

.days td {
  padding-top: 2px;
  height: 100px;
  border-bottom: 1px solid #ff6454;
}

.days:last-child td {
  border-bottom: 0;
}

.month-table .empty {
  background: repeating-linear-gradient(0, #f96d69 0, #f96d69 1px, transparent 1px, transparent 5px);
  background-size: 1px 5px;
}

h1 { font-size: 40px; display: inline-block; }

h2 {
  font-size: 30px;
  background: black;
  display: inline-block;
  padding: 4px 120px;
  background-color: #74006A;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px auto;
}

.month-menuitem {
  font-size: 14px;
  display: inline-block;
  border: 0;
  text-transform: uppercase;
  margin: 0 10px;
  background: #f03c37;
  padding: 7px 15px;
  color: #fff;
  position: relative;
}

.month-menuitem:hover {
  color: #ffdada;
}

.month-menuitem.active {
  background: #fcf3db  ;
  color: #ef3c36;
  font-weight: bold;
}

a {
  color: #FFF;
}

a:hover {
  color: #EDE55D;
}

.today .day {
  background: #f96d69;
  color: #fff;
}

.event {
  white-space: nowrap;
  padding: 3px;
  height: 23px;
  margin-bottom: 1px;
}

.day {
  font-weight: bold;
  padding: 6px 10px;
  margin-bottom: 5px;
  position: relative;
}

.following-days a { font-size: 0; }

.multi-days {
  background: #000;
  margin-left: -2px;
  margin-right: -2px;
}

.no-event { color: #ff9687; }

.event a { color: #fff; }
.past .event a { color: #ffcdc9; }

/* Map */

#map {
  margin: 20px auto;
  height: 350px;
  width: 75%;
  background-color: #46004D;
}

.leaflet-container .leaflet-control-attribution {
  background-color: #EC1BEF;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #EC1BEF;
}

.leaflet-popup-content {
  font-family: CenturySchoolBookMono, Ubuntu, monospace;
}
