/*calendar map events*/
#calendar * { -webkit-box-sizing: border-box; }

.month-table {
  margin: 0 auto 100px;
  width: 100%;
  padding: 5px;
  position: relative;
}

/*.month-table:before, .month-table:after {
  content: "";
  border: 10px solid transparent;
  position: absolute;
  display: block;
}*/

/*.month-table:before {
  border-top-color: rgb(88,20,94);
  border-right-color: rgb(88,20,94);
  top: 0;
  right: 0;
}

.month-table:after {
  border-left-color: rgb(88,20,94);
  border-bottom-color: rgb(88,20,94);
  bottom: 0;
  left: 0;
}*/

.month-table td {
  width: 160px;
  vertical-align: top;
}

.header td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.days td {
  padding-top: 2px;
  height: 100px;
  border-bottom: 1px solid #333;
}

.days:last-child td {
  /*border-bottom: 0;*/
}

.month-table .empty {
  background: repeating-linear-gradient(0, #B4B4B4 0, #B4B4B4 1px, transparent 1px, transparent 5px);
  background-size: 1px 5px;
}

.month-menuitem {
  font-size: 12px;
  display: inline-block;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 10px;
  background: #333;
  padding: 7px 15px;
  color: #eaeaea;
  position: relative;
  border-radius: 3px;

}

.month-menuitem:hover {
  color: #333;
  background-color: #F7DA03;
}

.month-menuitem.active {
  background: #F7DA03  ;
  color: #333;
}

a {
  color: #333;
}

a:hover {
  color: #EDE55D;
}

.today .day {
  background: #F7DA03;
  color: #333;
  border-radius: 3px;
}

.event {
  white-space: nowrap;
  padding: 2px 6px;
  height: 23px;
  margin-bottom: 1px;
  max-width: 184px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.day {
  padding: 6px 10px;
  margin-bottom: 5px;
  position: relative;
}

.following-days a { font-size: 0; }

.multi-days {
  background: #000;
  margin-left: -2px;
  margin-right: -2px;
}

.no-event { color: #B4B4B4; }

.event a {
  color: #333;
  border-color: #F7DA03;
  border-bottom-width: 2px;
}
.multi-days a {
  color: #EEE;
}
.event a:hover {
  color: #F7DA03;
}
.past .event a { color: #B4B4B4; border-color: #B4B4B4; }

/* Map */
