@font-face {
  font-family: 'CenturySchoolBookMono', monospace;
  src: url(yanone.eot);
  src: local('CenturySchoolBookMono'),
          url(centuryschoolbookmono.ttf) format('truetype');
}

body {
  background-color: rgb(88,20,94);
  color: rgb(240,230,120);
  font-family: CenturySchoolBookMono, monospace;
}

.content {
  max-width: 700px;
  margin: 20px auto 30px auto;
}

.content ul { text-align: left; }

#header {
  text-align: center;
}

#logo { padding: 20px 20px 40px 20px; }

.top-title { display: none; }

#header .tagline {
  font-size: 1.2em;
  font-family: CenturySchoolBookMono, Ubuntu, monospace;
  text-transform: uppercase;
  background-color: rgb(135,20,124);
  color: rgb(240,80,240);
  padding: 5px;
  width: 75%;
  margin: auto;
  margin-top: -10px;
}

#header .description {
  margin: 15px auto;
  width: 75%;
}

h2.section {
  margin: 0 auto 25px auto;
  text-transform: uppercase;
  background-color: rgb(135,20,124);
  padding: 5px;
  width: 97%;
  font-weight: 300;
}

.boxes {
  width: 77%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

a:link {
  color: rgb(250,200,120);
}
a:visited {
  color: rgb(200,250,120);
}

.box {
  position: relative;
  vertical-align: top;
  display: block;
  background-color: rgb(240,250,40);
  border-width: 0px;
  height: 280px;
  color: white;
  font-size: 12px;
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 30px;
}

.box.small {
  cursor: pointer;
  display: inline-block;
  width: 280px;
  margin-left: 34px;
  margin-right: 34px;
  margin-top: 0;
}

.box .title {
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  font-size: 1.5em;
  text-shadow: 0px 0px 2px rgba(88,20,94,0.5);
  font-weight: bold;
  margin: 0;
}

.box .view-source {
  display: block;
  position: absolute;
  top: -60px;
  right: 50px;
  padding: 5px;
  background-color: white;
  text-shadow: none;
  color: rgb(88,20,94);
  border: 2px solid rgb(88,20,94);
  border-radius: 5px;
}

.box .screenshot {
  position: absolute;
  bottom: 20px;
}

.box .screenshot img {
  width: 100%;
  max-width: 270px;
  min-height: 180px;
  opacity: 0.6;
}

.box .desc {
  position: absolute;
  top: 145px;
  left: 22px;
  width: 230px;
  bottom: 0px;
  text-align: left;
  color: rgb(255,235,40);
  font-size: 1.3em;
  text-shadow: 0px 0px 2px rgba(88,20,94,0.9);
  font-weight: bold;
  margin: 0;
}

.box .expanded {
  position: absolute;
  top: 80px;
  left: 300px;
  right: 30px;
  bottom: 20px;
  text-align: left;
  text-shadow: 0px 0px 2px rgba(88,20,94,0.5);
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
}

.box.small .expanded {
  display: none;
}

.box:before {
  content: '';
  position: absolute;
  top: 0px;
  left: -20px;
  bottom: 0px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(240,250,40);
}

.box:after {
  display: block;
  content: '';
  position: absolute;
  right: -20px;
  top: 0px;
  bottom: 0px;
  vertical-align: top;
  border-top: 20px solid transparent;
  border-left: 20px solid red;
}

.box.orange {
  background-color: rgb(240,160,40);
}
.box.orange:before {
  border-right-color: rgb(240,160,40);
}
.box.orange:after {
  border-left-color: rgb(240,160,40);
}
.box.small.orange:hover {
  background-color: rgb(250,200,40);
}
.box.small.orange:hover:before {
  border-right-color: rgb(250,200,40);
}
.box.small.orange:hover:after {
  border-left-color: rgb(250,200,40);
}

.box.red {
  background-color: rgb(240,60,40);
}
.box.red:before {
  border-right-color: rgb(240,60,40);
}
.box.red:after {
  border-left-color: rgb(240,60,40);
}

.box.small.red:hover {
  background-color: rgb(250,80,40);
}
.box.small.red:hover:before {
  border-right-color: rgb(250,80,40);
}
.box.small.red:hover:after {
  border-left-color: rgb(250,80,40);
}

.box.cyan {
  background-color: rgb(80,180,240);
}
.box.cyan:before {
  border-right-color: rgb(80,180,240);
}
.box.cyan:after {
  border-left-color: rgb(80,180,240);
}

.box.small.cyan:hover {
  background-color: rgb(80,200,250);
}
.box.small.cyan:hover:before {
  border-right-color: rgb(80,200,250);
}
.box.small.cyan:hover:after {
  border-left-color: rgb(80,200,250);
}

.box.green {
  background-color: rgb(33,201,120);
}
.box.green:before {
  border-right-color: rgb(33,201,120);
}
.box.green:after {
  border-left-color: rgb(33,201,120);
}

.box.small.green:hover {
  background-color: rgb(33,221,130);
}
.box.small.green:hover:before {
  border-right-color: rgb(33,221,130);
}
.box.small.green:hover:after {
  border-left-color: rgb(33,221,130);
}

a:link, a:visited {
  text-decoration: none;
}

.note,
.note:link,
.note:visited {
  position: relative;
  display: block;
  margin: auto;
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(135,20,124);
  border-width: 0px;
  font-size: 1.3em;
  color: rgb(240,80,240);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.note:before {
  position: absolute;
  left: -20px;
  top: 0px;
  bottom: 0px;
  content: '';
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(135,20,124);
}

.note:after {
  position: absolute;
  right: -20px;
  top: 0px;
  bottom: 0px;
  content: '';
  border-top: 20px solid transparent;
  border-left: 20px solid rgb(135,20,124);
}

.note:hover {
  background-color: rgb(155,20,144);
}
.note:hover:before {
  border-right-color: rgb(155,20,144);
}
.note:hover:after {
  border-left-color: rgb(155,20,144);
}

#back {
  position: relative;
  display: none;
  margin-left: 15%;
  margin-bottom: -100px;
  margin-top: 40px;
  z-index: 5;
  padding: 18px;
  width: 200px;
  border-width: 0px;
  background-color: rgba(135,20,124,0.2);
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

#back:hover {
  background-color: rgba(135,20,124,0.4);
}

#back.show {
  display: block;
}

pre {
  background-color: rgb(88,20,94);
  padding: 10px;
}
.desc.expressworks {
  top:130px;
}
