{
  "language": "language",
  "menu-index": "menu-index",
  "menu-events": "menu-events",
  "menu-chapters": "menu-chapters",
  "menu-about": "menu-about",
  "menu-building-workshops": "menu-building-workshops",
  "menu-host": "menu-host",
  "footer-contact-header": "footer-contact-header",
  "footer-contribute-header": "footer-contribute-header",
  "footer-contribute-question": "footer-contribute-question",
  "footer-contribute-answer": "footer-contribute-answer",
  "footer-about-header": "footer-about-header",
  "footer-about-build": "footer-about-build",
  "footer-about-host": "footer-about-host",
  "index-header": "index-header (has markup)",
  "index-get-started": "index-get-started (has markup)",
  "index-workshop-header": "index-workshop-header",
  "index-workshop-info": "index-workshop-info (has markup)",
  "index-workshop-links-host": "index-workshop-links-host",
  "index-workshop-links-events": "index-workshop-links-events",
  "index-workshop-links-writeups": "index-workshop-links-writeups",
  "index-upcoming-header": "index-upcoming-header",
  "index-upcoming-loading": "index-upcoming-loading",
  "index-upcoming-error": "index-upcoming-error",
  "index-upcoming-all-events": "index-upcoming-all-events",
  "index-upcoming-no-events": "index-upcoming-no-events",
  "index-upcoming-past-events": "index-upcoming-past-events",
  "index-upcoming-past-events2": "index-upcoming-past-events2",
  "index-host-header": "index-host-header",
  "index-host-past": "index-host-past",
  "index-host-past2": "index-host-past2",
  "index-host-want-to-host": "index-host-want-to-host",
  "index-host-want-to-host2": "index-host-want-to-host2",
  "index-host-want-to-host3": "index-host-want-to-host3",
  "index-workshopper-header": "index-workshopper-header",
  "index-workshopper-info": "index-workshopper-info",
  "index-workshopper-list-problem": "index-workshopper-list-problem",
  "index-workshopper-list-faq": "index-workshopper-list-faq",
  "index-workshopper-list-host": "index-workshopper-list-host",
  "index-get-going-header": "index-get-going-header",
  "index-get-going-info": "index-get-going-info",
  "index-get-going-info2": "index-get-going-info2",
  "index-get-going-info3": "index-get-going-info3",
  "index-get-going-editor": "index-get-going-editor",
  "index-get-going-editor2": "index-get-going-editor2",
  "index-get-going-editor3": "index-get-going-editor3",
  "index-get-going-editor4": "index-get-going-editor4",
  "index-get-going-editor5": "index-get-going-editor5",
  "index-get-going-editor6": "index-get-going-editor6",
  "index-get-going-editor7": "index-get-going-editor7",
  "index-workshoppers-core-header": "index-workshoppers-core-header",
  "index-workshoppers-core-info": "index-workshoppers-core-info",
  "index-workshoppers-core-link-pre": "index-workshoppers-core-link-pre",
  "index-workshoppers-core-link-text": "index-workshoppers-core-link-text",
  "index-workshoppers-core-link-post": "index-workshoppers-core-link-post",
  "index-workshoppers-elective-header": "index-workshoppers-elective-header",
  "index-workshoppers-elective-info": "index-workshoppers-elective-info",
  "index-workshoppers-elective-link-pre": "index-workshoppers-elective-link-pre",
  "index-workshoppers-elective-link-text": "index-workshoppers-elective-link-text",
  "index-workshoppers-elective-link-post": "index-workshoppers-elective-link-post",
  "workshopper-learnyounode": "workshopper-learnyounode",
  "workshopper-javascripting": "workshopper-javascripting",
  "workshopper-gitit": "workshopper-gitit",
  "workshopper-streamadventure": "workshopper-streamadventure",
  "workshopper-streamadventure2": "workshopper-streamadventure2",
  "workshopper-functionaljavascript": "workshopper-functionaljavascript",
  "workshopper-levelmeup": "workshopper-levelmeup",
  "workshopper-expressworks": "workshopper-expressworks",
  "workshopper-makemehapi": "workshopper-makemehapi",
  "workshopper-promise-it-wont-hurt": "workshopper-promise-it-wont-hurt",
  "workshopper-async-you": "workshopper-async-you",
  "workshopper-nodebot-workshop": "workshopper-nodebot-workshop",
  "workshopper-goingnative": "workshopper-goingnative",
  "workshopper-planetproto": "workshopper-planetproto",
  "workshopper-shader-school": "workshopper-shader-school",
  "workshopper-bytewiser": "workshopper-bytewiser",
  "workshopper-bug-clinic": "workshopper-bug-clinic",
  "workshopper-browserify-adventure": "workshopper-browserify-adventure",
  "workshopper-introtowebgl": "workshopper-introtowebgl",
  "workshopper-count-to-6": "workshopper-count-to-6",
  "workshopper-kick-off-koa": "workshopper-kick-off-koa",
  "workshopper-lololodash": "workshopper-lololodash",
  "events-header": "events-header (has markup)",
  "events-past": "events-past",
  "events-future": "events-future",
  "events-header2": "events-header2 (has markup)",
  "events-header3": "events-header3 (has markup)",
  "chapters-header": "chapters-header",
  "chapters-europe": "chapters-europe",
  "chapters-us": "chapters-us",
  "chapters-latin-america": "chapters-latin-america",
  "chapters-australia": "chapters-australia",
  "chapters-other": "chapters-other",
  "chapters-start": "chapters-start",
  "chapters-start2": "chapters-start2",
  "chapters-start3": "chapters-start3",
  "chapters-start4": "chapters-start4",
  "chapters-start5": "chapters-start5",
  "about-header": "about-header (has markup)",
  "about-header-history-title": "about-header-history-title",
  "about-history": "about-history (has markup)",
  "about-history2": "about-history2 (has markup)",
  "about-history3": "about-history3 (has markup)",
  "about-history4": "about-history4 (has markup)",
  "about-header-philosophy-title": "about-header-philosophy-title",
  "about-philosophy": "about-philosophy (has markup)",
  "about-philosophy2": "about-philosophy2 (has markup)",
  "about-header-info-title": "about-header-info-title",
  "about-info": "about-info (has markup)",
  "about-header-touch-title": "about-header-touch-title",
  "about-info2": "about-info2 (has markup)",
  "about-header-talk-title": "about-header-talk-title",
  "about-info3": "about-info3 (has markup)",
  "building-workshops-header": "building-workshops-header",
  "building-workshops-subtitle": "building-workshops-subtitle",
  "building-workshops-info": "building-workshops-info",
  "building-workshops-info2": "building-workshops-info2",
  "building-workshops-info3": "building-workshops-info3",
  "building-workshops-info3A": "building-workshops-info3A",
  "building-workshops-info3B": "building-workshops-info3B",
  "building-workshops-info3C": "building-workshops-info3C",
  "host-header": "host-header",
  "host-info": "host-info",
  "host-chapter-header": "host-chapter-header",
  "host-chapter-info": "host-chapter-info",
  "host-chapter-info2": "host-chapter-info2",
  "host-chapter-info3": "host-chapter-info3",
  "host-chapter-info4": "host-chapter-info4",
  "host-chapter-link": "host-chapter-link",
  "host-chapter-link2": "host-chapter-link2",
  "host-attend-header": "host-attend-header",
  "host-attend-info": "host-attend-info",
  "host-attend-info2": "host-attend-info2",
  "host-attend-link": "host-attend-link",
  "host-recommendation-header": "host-recommendation-header",
  "host-recommendation-info": "host-recommendation-info",
  "host-recommendation-list-1": "host-recommendation-list-1",
  "host-recommendation-list-2": "host-recommendation-list-2",
  "host-recommendation-list-3": "host-recommendation-list-3",
  "host-recommendation-list-4": "host-recommendation-list-4",
  "host-recommendation-list-5": "host-recommendation-list-5",
  "host-recommendation-list-6": "host-recommendation-list-6",
  "host-reports-header": "host-reports-header",
  "host-reports-info": "host-reports-info"
}
