// ============================================================================
// Settings: Colors
// ============================================================================

$black           = rgb(  0,   0,   0); // #000
$white           = rgb(255, 255, 255); // #fff

$mineshaftGray   = rgb( 51,  51,  51); // #333
$gray            = rgb(136, 136, 136); // #888
$dustyGray       = rgb(160, 156, 156); // #a09c9c
$nobelGray       = rgb(180, 180, 180); // #b4b4b4
$galleryGray     = rgb(234, 234, 234); // #eaeaea

$red             = rgb(255,   0,   0); // #f00

$confettiYellow  = rgb(237, 229,  93); // #ede55d
$schoolbusYellow = rgb(247, 218,   3); // #f7da03
$broomYellow     = rgb(255, 229,  31); // #ffe51f
$givryYellow     = rgb(248, 240, 189); // #f8f0bd

$green           = rgb(  0, 255,   0); // #0f0
